<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Monitor - Add/Simulate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orienta">
    </head>
    <body> 
        <div class="topborder">ADD/SIMULATE ROOMS</div>
        <div class="formspace">  
            <form name="passdata" action="/submit" method="post"> 
                <label class="formlabels">Room Name:</label><br>
                <input class="formentries" type="text" name="Room"><br><br>
                <select class="formlabels" id="mySelect" name="rlist">
                    <option value="Room1">Room 1 (top-left)</option>
                    <option value="Room2">Room 2 (top-right)</option>
                    <option value="Room3">Room 3 (bottom-left)</option>
                    <option value="Room4">Room 4 (bottom-right)</option>
                </select><br><br>

                <label class="formlabels">Temperatures are in Fahrenheit.</label><br>
                <label class="formlabels">Temperature at 12AM:</label><br>
                <input class="formentries" type="text" name="t1"><br><br>
                <label class="formlabels">Temperature at 3AM:</label><br>
                <input class="formentries" type="text" name="t2"><br><br>
                <label class="formlabels">Temperature at 6AM:</label><br>
                <input class="formentries" type="text" name="t3"><br><br>
                <label class="formlabels">Temperature at 9AM</label><br>
                <input class="formentries" type="text" name="t4"><br><br>
                <label class="formlabels">Temperature at 12PM:</label><br>
                <input class="formentries" type="text" name="t5"><br><br>
                <label class="formlabels">Temperature at 3PM:</label><br>
                <input class="formentries" type="text" name="t6"><br><br>
                <label class="formlabels">Temperature at 6PM:</label><br>
                <input class="formentries" type="text" name="t7"><br><br>
                <label class="formlabels">Temperature at 9PM:</label><br>
                <input class="formentries" type="text" name="t8"><br><br>


                <input class="formbutton" type="submit" name="submit" value="Add Room">

            </form>
            <br>
            <form action="/simulate"> 
                <input class="formbutton" type="submit" name="simulate" value="Simulate">
            </form>
        </div>    

    </body>


</html>
