<!-- Luke Staib 2020 -->
<!DOCTYPE html>
<html lang="en">

	<head>
	  <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>home.html</title>
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orienta">
	</head>

	<body>
		<div class="topborder">HOME MONITOR PAGE 1/?</div>
		<div class="settingsbar">
			<div class="settingstext" style="color: #FFFFFF">Settings</div>
			<div class="buttonsettings" style="background-color: #338EC1"><li>Add Room</li></div>
			<div class="buttonsettings" style="background-color: #338EC1"><li style="margin: 20px 0">Delete Room</li></div>
			<div class="buttonsettings" style="background-color: #338EC1"><li style="margin: 20px 0">Clear Rooms</li></div>
			<div class="buttonsettings" style="background-color: #338EC1"><li style="margin: 20px 0">Logout</li></div>
			<div class="buttonsettings" style="background-color: #338EC1"><li style="margin: 20px 0">Reset</li></div>
		</div>
		<table class="roomspace">
			<tr>
				<th>
					<div class="rooms" style="margin-top: 50px; margin-left: 95%">
						<div class="roomtitle"><li>Test1</li></div>
					</div>
				</th>
				<th>	
					<div class="rooms" style="margin-top: 50px; margin-left: 95%">
						<div class="roomtitle"><li>Test2</li></div>
					</div>
				</th>	
			</tr>
			<tr>
				<th>	
					<div class="rooms" style="margin-top: 50px; margin-left: 95%">
						<div class="roomtitle"><li>Test3</li></div>
					</div>
				</th>
				<th>	
					<div class="rooms" style="margin-top: 50px; margin-left: 95%">
						<div class="roomtitle"><li>Test4</li></div>
					</div>
				</th>	
			</tr>	
		</div>			
	</body>

</html>	