<!-- Luke Staib 2020 -->
<!DOCTYPE html>
<html lang="en">

	<head>
	  <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>home.html</title>
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orienta">

	</head>

	<body>
		<div class="topborder">HOME MONITOR PAGE 1/?</div>
		<div class="settingsbar">
			<div class="settingstext" style="color: #FFFFFF">Settings</div>
			<button class="buttonsettings" style="background-color: #338EC1; margin: 10px 0" input type="submit" value="Add Room" onclick="addButton()">Add Room</button>
			<button class="buttonsettings" style="background-color: #338EC1; margin: 10px 0" input type="submit" value="Delete Room" onclick="removeButton()">Remove Room</button>
			<button class="buttonsettings" style="background-color: #338EC1; margin: 10px 0" input type="submit" value="Simulate" onclick="simulateButton()">Simulate</button>
			<button class="buttonsettings" style="background-color: #338EC1; margin: 10px 0" input type="submit" value="Logout" onclick="logoutButton()">Log Out</button>
			<button class="buttonsettings" style="background-color: #338EC1; margin: 10px 0" input type="submit" value="Reset" onclick="resetButton()">Reset</button>
		</div>
		<table class="roomspace">
			<tr>
				<th>
					<div class="rooms" style="margin-top: 50px; margin-left: 95%">
						<div class="roomtitle"><li>Test1</li></div>
					</div>
				</th>
				<th>	
					<div class="rooms" style="margin-top: 50px; margin-left: 95%">
						<div class="roomtitle"><li>Test2</li></div>
					</div>
				</th>	
			</tr>
			<tr>
				<th>	
					<div class="rooms" style="margin-top: 50px; margin-left: 95%">
						<div class="roomtitle"><li>Test3</li></div>
					</div>
				</th>
				<th>	
					<div class="rooms" style="margin-top: 50px; margin-left: 95%">
						<div class="roomtitle"><li>Test4</li></div>
					</div>
				</th>	
			</tr>	
		</div>

		 <script>
			let rooms = 0;
			if (rooms > 4) {
				rooms = 4;
			}
			if (rooms < 0) {
				rooms = 0;
			} 

			function addButton() {
				alert("Will add a room");
  			}
  			function removeButton() {
				alert("Will remove a room");
  			}
  			function simulateButton() {
				alert("Will simulate what the app would look like with real data");
  			}
  			function logoutButton() {
				alert("Will log out the user");
  			}
  			function resetButton() {
				alert("Will reset to defaults (delete all rooms?)");
  			}
		</script>				
	</body>
</html>	
