<!-- Luke Staib 2020 -->
<!-- Websites are placeholders, implement SSO and create failed and successful login paths -->
<!DOCTYPE html>
<html lang="en">

	<head>
	  <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Home Monitor - Login</title>
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orienta">
	</head>

	<body>
		<div class="topborder">WELCOME TO HOME MONITOR</div>
		<div class="loginspace">
			<div class="signin">Sign In</div><br>
			<div class="buttonlist">
				<a href="/login-fb" style="color: #FFFFFF"><li style="background-color: #31538F">Sign in with Facebook</li></a>
				<!--<a href="/login-google" style="color: #FFFFFF"><li style="background-color: #D83F36">Sign in with Google</li></a>-->		
			</div>		
		</div>
	</body>

</html>	
