<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
  <form name = "removedata" action="" method="">
    <label class="formlabels">Room Name:</label><br>
    <input class="formentries" type="text" name="Room"><br><br>
    <select class="formlabels" id="mySelect" name="rlist">
        <option value="Room1">Room 1 (top-left)</option>
        <option value="Room2">Room 2 (top-right)</option>
        <option value="Room3">Room 3 (bottom-left)</option>
        <option value="Room4">Room 4 (bottom-right)</option>
    </select><br><br>

  </form>



</body>
</html>