<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Monitor - Remove</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orienta">
    </head>
    <body>
        <div class="topborder">REMOVE ROOMS</div>
        <div class="formspace" style="margin-top: 100px">
            <form name = "removedata" action="/home" method=""> <!--action="/submit-remove" method="post"-->
                <label class = "formlabels">Select the room or multiple rooms to remove.</label><br><br>

                <input type="checkbox" id="room1" name="room1" value="Room_1">
                <label class = "formlabels" for="room1">Room 1 (top-left)</label><br>
                <input type="checkbox" id="room2" name="room2" value="Room_2">
                <label class = "formlabels" for="room2">Room 2 (top-right)</label><br>
                <input type="checkbox" id="room3" name="room3" value="Room_3">
                <label class = "formlabels" for="room3">Room 3 (bottom-left)</label><br>
                <input type="checkbox" id="room4" name="room4" value="Room_4">
                <label class = "formlabels" for="room4">Room 4 (bottom-right)</label><br><br>

                <input class="formbutton" type="submit" name="submit" value="Remove Room/s">
            </form>
        </div>    
        <script>
        </script>
    </body>
</html>
