<!-- Luke Staib 2020 -->
<!DOCTYPE html>
<html lang="en">

	<head>
	  <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>signup.html</title>
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orienta">
	</head>

	<body>
		<div class="topborder">SIGN UP</div>
	</body>

</html>	